<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="signUpForms" (ngSubmit)="onSignUp()">
        <div class="form-group">
          <label for="userName">UserName*</label>
          <input type="text" id="userName" required formControlName="userName" class="form-control">
          <ng-container *ngIf="signUpForms.controls['userName'].touched && signUpForms.controls['userName'].invalid">
            <p class="text-danger"
            *ngIf="signUpForms.controls['userName'].hasError('required')">
              User Name Is Required
            </p>
          </ng-container>
          <ng-container *ngIf="signUpForms.controls['userName'].dirty && signUpForms.controls['userName'].invalid">
            <p class="text-danger" *ngIf="signUpForms.controls['userName'].hasError('noSpaceError')">
                {{signUpForms.controls['userName'].errors?.['noSpaceError']}}
            </p>
            <p class="text-danger"
            *ngIf="signUpForms.controls['userName'].hasError('minlength')">
              Minimum length Should be {{signUpForms.controls['userName'].errors?.['minlength'].requiredLength}}
                  and the actual length is
              {{signUpForms.controls['userName'].errors?.['minlength'].actualLength}}
            </p>
            <p class="text-danger"
            *ngIf="signUpForms.controls['userName'].hasError('maxlength')">
              Maximum length Should be {{signUpForms.controls['userName'].errors?.['maxlength'].requiredLength}}
              and the actual length is
          {{signUpForms.controls['userName'].errors?.['maxlength'].actualLength}}
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="text" required id="email" formControlName="email" class="form-control">
          <ng-container *ngIf="signUpForms.controls['email'].touched && signUpForms.controls['email'].invalid">
            <p class="text-danger"
            *ngIf="signUpForms.controls['email'].hasError('required')">
              Email Id Mandatory Field
            </p>
          </ng-container>
          <ng-container *ngIf="signUpForms.controls['email'].dirty && signUpForms.controls['email'].invalid">
            <p class="text-danger" *ngIf="signUpForms.controls['email'].hasError('pattern')">
              Please Enter a valid email Id
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="password">Enter Your Password*</label>
          <input type="text" id="password" appPreventDefultCopy
          formControlName="password" class="form-control">
          <ng-container *ngIf="f['password'].touched && f['password'].invalid">
            <p class="text-danger"
            *ngIf="f['password'].hasError('required')">
            Password is a Mandatory field.
            </p>
          </ng-container>
          <ng-container *ngIf="f['password'].dirty && f['password'].invalid">
            <p class="text-danger" *ngIf="f['password'].hasError('pattern')">
              Password must have at least 1 number, 1 special char, 
              1 lowerCase, 1 upperCase and its minimum length should be 8
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Your Password*</label>
          <input type="text" required id="confirmPassword" appPreventDefultCopy formControlName="confirmPassword" class="form-control">
          <ng-container *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid">
            <p class="text-danger"
            *ngIf="f['confirmPassword'].hasError('required')">
            confirm Password is required
            </p>
          </ng-container>
            <p class="text-danger" *ngIf="f['confirmPassword'].dirty && f['confirmPassword'].invalid || f['confirmPassword'].value !== f['password'].value">
              Password and confirm Password must be same
            </p>
        </div>
        <div class="form-group">
          <label for="empId">Employee Id*</label>
          <input type="text" id="empId" placeholder="E-123"
          required
          formControlName="empId" class="form-control">
          <ng-container *ngIf="f['empId'].touched && f['empId'].invalid">
            <p class="text-danger" *ngIf="f['empId'].hasError('required')">
              Emp Id is a mandatory field
            </p>
          </ng-container>
          <ng-container *ngIf="f['empId'].dirty && f['empId'].invalid">
            <p class="text-danger" *ngIf="f['empId'].hasError('invalidEmpId')">
              {{f['empId'].errors?.['invalidEmpId']}}
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <ng-container *ngFor="let gender of gendersArray">
            <label [for]="gender" class="ml-4">
              <input type="radio" formControlName="gender"
              [value]="gender" [id]="gender">
              {{gender}}
            </label>
          </ng-container>
        </div>
        <div formArrayName="skills">
          <h4>Skills {{getSkillsArray.length}}</h4>
          <div class="row" *ngFor="let skill of getSkillsArray.controls; let i = index">
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" [formControlName]="i">
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger" type="button" *ngIf="i > 0"
                (click)="onremoveSkill(i)">
                <i class="fa-solid fa-xmark fa-1x"></i>
              </button>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <button mat-raised-button color="accent" type="button" 
              [disabled]="getSkillsArray.length >= 5"
              (click)="onAddSkills()">
                Add Skill
              </button>
              <span *ngIf="getSkillsArray.length >= 5" class="text-danger ml-5">You can add max 5 skills</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4>
              Permanent Address
            </h4>
            <div formGroupName="PermanentAddress">
              <div class="form-group">
                <label for="">Select Country</label>
                <select class="form-control" formControlName="countryName">
                  <option value="">Select Country</option>
                  <option 
                  *ngFor="let country of countriesArray" [value]="country.Country">{{country.Country}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" formControlName="state" id="state" class="form-control">
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" formControlName="city" id="city" class="form-control">
              </div>
              <div class="form-group">
                <label for="zipCode">ZipCode</label>
                <input type="text" formControlName="zipCode" id="zipCode" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <mat-checkbox type="checkbox" formControlName="isCurrentAndPerSame">
                Current Address is same Permanent address
              </mat-checkbox>
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="heading">
              Current Address
            </h4>
            <div formGroupName="currentAddress">
              <div class="form-group">
                <label for="">Select Country</label>
                <select class="form-control" formControlName="countryName">
                  <option value="">Select Country</option>
                  <option 
                  *ngFor="let country of countriesArray" [value]="country.Country">{{country.Country}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" formControlName="state" id="state" class="form-control">
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" formControlName="city" id="city" class="form-control">
              </div>
              <div class="form-group">
                <label for="zipCode">ZipCode</label>
                <input type="text" formControlName="zipCode" id="zipCode" class="form-control">
              </div>
            </div> 
          </div>
        </div>
        <div class="text-right">
          <button [disabled]="signUpForms.invalid" class="btn btn-outline-primary">Sign Up</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      {{signUpForms.value | json}}
    </div>
  </div>
</div>